html {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	padding: 0;
	margin: 0;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: normal;
}

p {
	margin-top: 0;
	font-weight: normal;
	margin-top: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

form {
	padding: 0;
	margin: 0;
}

input[type="text"]:focus {
	outline: 0;
	border: none;
}

input[type="text"]:active {
	outline: 0;
	border: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	padding: 0;
	margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

a {
	background-color: transparent;
}

a:active, a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
	text-transform: none;
}

select {
	text-transform: none;
}

button, html input[type="button"] {
	-webkit-appearance: button;
	cursor: pointer;
}

input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"], input[type="radio"] {
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	padding: 0;
}

* {
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-size: 14px;
	color: #333;
	background-color: #fff;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	text-decoration: none;
}

figure {
	margin: 0;
}

img {
	vertical-align: middle;
}

.group:after, .contain:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive::before {
	display: block;
	content: "";
}

.embed-responsive-21by9::before {
	padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
	padding-top: 56.25%;
}

.embed-responsive-4by3::before {
	padding-top: 75%;
}

.embed-responsive-1by1::before {
	padding-top: 100%;
}

.embed-responsive iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.swiper-button-disabled {
	opacity: 0 !important;
}

.swiper-button:focus {
	outline: none;
}

/*! nouislider - 14.6.0 - 6/27/2020 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-ms-touch-action: none;
	touch-action: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	box-sizing: border-box;
}

.noUi-target {
	position: relative;
}

.noUi-base,
.noUi-connects {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

/* Wrapper for all connect elements.
 */
.noUi-connects {
	overflow: hidden;
	z-index: 0;
}

.noUi-connect,
.noUi-origin {
	will-change: transform;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-webkit-transform-style: preserve-3d;
	transform-origin: 0 0;
	-webkit-transform-style: flat;
	        transform-style: flat;
}

.noUi-connect {
	height: 100%;
	width: 100%;
}

.noUi-origin {
	height: 10%;
	width: 10%;
}

/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
	left: 0;
	right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
	width: 0;
}

.noUi-horizontal .noUi-origin {
	height: 0;
}

.noUi-handle {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
}

.noUi-touch-area {
	height: 100%;
	width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}

.noUi-state-drag * {
	cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 18px;
}

.noUi-horizontal .noUi-handle {
	width: 23px;
	height: 23px;
	right: -11.5px;
	top: -10px;
}

.noUi-vertical {
	width: 18px;
}

.noUi-vertical .noUi-handle {
	width: 28px;
	height: 34px;
	right: -6px;
	top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
	left: -17px;
	right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
	height: 4px;
	background-color: #eaeaea;
	margin: 0px 11px 50px;
	position: relative;
}

.noUi-target::before, .noUi-target::after {
	content: "";
	background-color: #eaeaea;
	width: 11px;
	height: 4px;
	position: absolute;
	top: 0;
}

.noUi-target::before {
	left: -10px;
}

.noUi-target::after {
	right: -10px;
}

.noUi-connect {
	background-color: #ffcda5;
}

/* Handles and cursors;
 */
.noUi-draggable {
	cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
	cursor: ns-resize;
}

.noUi-handle {
	border: 1px solid #f68038;
	background-color: #ffffff;
	border-radius: 50%;
	cursor: default;
}

.noUi-handle::after {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
	left: 3px;
	top: 3px;
	border-radius: 50%;
	background-color: #f68038;
}

.noUi-active {
	box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}

/* Disabled state;
 */
[disabled] .noUi-connect {
	background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
	cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
	box-sizing: border-box;
}

.noUi-pips {
	position: absolute;
	color: #999;
}

/* Values;
 *
 */
.noUi-value {
	position: absolute;
	white-space: nowrap;
	text-align: center;
}

.noUi-value-sub {
	color: #ccc;
	font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
	position: absolute;
	background: #ccc;
}

.noUi-marker-sub {
	background: #aaa;
}

.noUi-marker-large {
	background: #aaa;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
	padding: 10px 0;
	height: 80px;
	top: 100%;
	left: 0;
	width: 100%;
}

.noUi-value-horizontal {
	-webkit-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	    transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
	-webkit-transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	    transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
	margin-left: -1px;
	width: 2px;
	height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
	height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
	height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
	padding: 0 10px;
	height: 100%;
	top: 0;
	left: 100%;
}

.noUi-value-vertical {
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
	-webkit-transform: translate(0, 50%);
	-ms-transform: translate(0, 50%);
	    transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
	width: 5px;
	height: 2px;
	margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
	width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
	width: 15px;
}

.noUi-tooltip {
	color: #999999;
	font-size: 12px;
	position: absolute;
}

.noUi-horizontal .noUi-tooltip {
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	left: 50%;
	bottom: -22px;
}

.noUi-vertical .noUi-tooltip {
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	top: 50%;
	right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
	-webkit-transform: translate(50%, 0);
	-ms-transform: translate(50%, 0);
	    transform: translate(50%, 0);
	left: auto;
	bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
	-webkit-transform: translate(0, -18px);
	-ms-transform: translate(0, -18px);
	    transform: translate(0, -18px);
	top: auto;
	right: 28px;
}

.contain {
	max-width: 1346px;
}

@media (max-width: 1367px) {
	.contain {
		max-width: 1170px;
	}
}

@media only screen and (max-width: 1199px) {
	.contain {
		max-width: 970px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
	.contain {
		max-width: 750px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
	.contain {
		max-width: 600px;
	}
}

@media only screen and (max-width: 640px) {
	.contain {
		max-width: 530px;
	}
}

@media only screen and (max-width: 570px) {
	.contain {
		width: 100%;
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (max-width: 320px) {
	body, body > * {
		width: auto;
		min-width: 320px;
	}
}

@media only screen and (min-width: 1080px) {
	.main-mnu {
		display: block !important;
	}
	.hidden-mnu {
		display: none;
	}
}

@font-face {
	font-family: 'Calibri';
	src: url("../fonts/Calibri-regular.woff") format("woff"), url("../fonts/Calibri-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	border: none;
	outline: none;
}

textarea:hover, textarea:active, textarea:focus {
	outline: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	color: #666;
	font-size: 15px;
	line-height: 1;
	position: relative;
	min-height: 100vh;
}

body.ohi {
	overflow: hidden;
}

.mt15 {
	margin-top: 15px;
}

.wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
	padding-top: 1px;
}

.main {
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.contain {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 0 15px;
}

.slider__wrap {
	position: relative;
}

.slider__wrap .slick-slide {
	border-right: 1px solid #D6D6D6;
	cursor: pointer;
}

.slider__wrap .slick-arrow {
	position: absolute;
	z-index: 12;
	width: 33px;
	height: 11px;
	border: none;
	background: none;
	font-size: 0;
	background: url("../img/arr-l-gray-mn.png") no-repeat 0 0;
	top: 50%;
	-webkit-transform: translate(0%, -50%);
	    -ms-transform: translate(0%, -50%);
	        transform: translate(0%, -50%);
}

.slider__wrap .slick-arrow li button {
	padding: 0;
	border: none;
}

.slider__wrap .slick-prev {
	left: -42px;
}

.slider__wrap .slick-next {
	right: -42px;
	-webkit-transform: translate(0%, -50%) rotate(180deg);
	    -ms-transform: translate(0%, -50%) rotate(180deg);
	        transform: translate(0%, -50%) rotate(180deg);
}

.slider,
.slider__slide {
	/*height: 1093px;*/
	max-height: 1093px;
	height: calc(100vh - 40px);
	min-height: 585px;
}

.slider__slide img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	object-position: bottom center;
}

.slider-nav-w {
	padding: 0 45px;
}

.slider-nav {
	border-left: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;
}

.slider__nav-slide {
	color: #999;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 27px;
	height: 27px;
	text-align: center;
	border-radius: 4px;
}

.slick-slide.act .slider__nav-slide {
	color: #fff;
	background-color: #f63;
}

.calc {
	background-color: #f4f4f1;
	padding: 164px 0 71px 0;
}

.calc__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 33px;
}

.heading-2 {
	color: #666;
	font-size: 31px;
	font-weight: 500;
	line-height: 115%;
	text-transform: uppercase;
	letter-spacing: -0.2px;
}

.calc__col--left {
	width: 51.3%;
	-webkit-flex: none;
	    -ms-flex: none;
	        flex: none;
}

.calc__item {
	margin-bottom: 16px;
}

.calc__item-row {
	padding-right: 151px;
	position: relative;
}

.calc__item-row .form-control {
	width: 134px;
	position: absolute;
	right: 0;
	bottom: 0;
	-webkit-flex: none;
	    -ms-flex: none;
	        flex: none;
	line-height: 1.4;
	padding-left: 7px;
}

.calc__item-row .calc__item-wrap {
	position: absolute;
	right: 0;
	top: 0;
	width: 148px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.calc__item-row .calc__item-wrap input[type="text"].form-control {
	padding: 0;
	padding-left: 7px;
	position: static;
	width: 100%;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-grow: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	-webkit-flex-shrink: 1;
	    -ms-flex-negative: 1;
	        flex-shrink: 1;
}

.calc__item-row .calc__item-wrap span {
	-webkit-flex: none;
	    -ms-flex: none;
	        flex: none;
	font-size: 20px;
	font-weight: 700;
	color: #000;
}

.div-control1 {
	background: #FFF;
	-webkit-transform: translate(0%, -50px);
	    -ms-transform: translate(0%, -50px);
	        transform: translate(0%, -50px);
}

.calc__col--right {
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	padding-left: 148px;
}

.calc__col--right .calc__item-wrap {
	position: relative;
}

.calc__col--right .div-control {
	padding-left: 0;
}

input[type="text"].form-control {
	background: none;
	border: none;
	color: #000;
	font-size: 20px;
	font-weight: 700;
}

input[type="text"].form-control.calc__total {
	font-size: 25px;
	font-weight: 700;
}

.div-control {
	padding-left: 7px;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #f4f4f1;
	color: #000;
	font-size: 20px;
	font-weight: 700;
	height: 27px;
}

.calc__diap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: #999;
	font-size: 14px;
	font-weight: 400;
	margin-top: 2px;
}

.calc__total-w {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.calc__total-w .form-control {
	width: 147px;
}

.calc__total-w span {
	-webkit-flex: none;
	    -ms-flex: none;
	        flex: none;
	font-size: 25px;
	font-weight: 700;
	color: #000;
}

.ui-state-focus {
	outline: none;
	border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	background: url("../img/arr-b.png") no-repeat center;
	border: none;
	-webkit-transform: translateY(25px);
	    -ms-transform: translateY(25px);
	        transform: translateY(25px);
}

.ui-widget.ui-widget-content {
	border: none;
}

.ui-slider-horizontal {
	height: 27px;
}

.ui-widget-header {
	background-color: #f63;
}

.form-control-static {
	color: #000;
	font-size: 14px;
	font-weight: 400;
	padding: 0;
	min-height: unset;
	margin-bottom: 5px;
}

.calc__desc {
	font-size: 15px;
	font-weight: 400;
	line-height: 146%;
	margin-top: 22px;
}

.btn {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #f4f4f1;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 7px;
	background-color: #333;
	padding: 0 25px;
	transition: background-color 0.5s;
}

.btn:hover {
	text-decoration: none;
	background-color: rgba(51, 51, 51, 0.9);
}

.calc__btn {
	height: 40px;
	background-color: #333;
	min-width: 277px;
	padding: 0 25px;
	margin-top: 8px;
}

.credit_sum-slider,
.monthly_payment-slider {
	display: none;
}

/*end calc*/
.ben {
	padding-top: 40px;
	padding-bottom: 26px;
}

.ben__row {
	margin-top: 32px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 49px;
	   -moz-column-gap: 49px;
	        column-gap: 49px;
}

.ben__item {
	width: 25%;
}

.ben__img {
	width: 71px;
	height: 51px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	    align-items: flex-end;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.ben__title {
	margin-top: 20px;
	margin-bottom: 22px;
	color: #333333;
	font-size: 17.7px;
	line-height: 1.2;
	font-weight: 700;
}

.ben__p {
	color: #333333;
	font-size: 18px;
	line-height: 1.2;
}

.leasing {
	padding-top: 89px;
	padding-bottom: 48px;
	background-color: #f4f4f1;
}

.leasing__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-column-gap: 24px;
	   -moz-column-gap: 24px;
	        column-gap: 24px;
}

.leasing__col {
	width: 50%;
}

.leasing__h {
	color: #666666;
	font-size: 31px;
	font-weight: 500;
	line-height: 1.2;
	background-image: url("../img/bg-h.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 29px;
	min-height: 72px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 52px;
}

.leasing__p {
	color: #333333;
	font-size: 17.8px;
	line-height: 1.2;
}

.foot {
	background-color: #f1592a;
	padding-top: 69px;
	padding-bottom: 43px;
	color: white;
}

.foot__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.foot__col-1 {
	margin-right: 39px;
	-webkit-flex: none;
	    -ms-flex: none;
	        flex: none;
}

.foot__logo {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.foot__conts {
	margin-top: 78px;
	margin-bottom: 28px;
}

.foot__cont {
	font-size: 15px;
	margin-bottom: 5px;
	display: block;
	color: white;
}

.foot__ad {
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 35px;
}

.foot__cond {
	color: white;
	font-size: 14px;
	text-decoration: underline;
	margin-bottom: 7px;
	display: block;
}

.foot__map-w {
	padding-top: 5px;
	-webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	width: 371px;
	margin-right: 44px;
}

.foot__map {
	padding-top: 8px;
	position: relative;
}

.foot__map .marker {
	position: absolute;
	bottom: 56px;
	left: 50%;
	left: calc(50% - 10px);
}

.foot__menu-w {
	margin-top: 15px;
}

.foot__menu-w + .foot__menu-w {
	margin-top: 85px;
}

.foot__menu-w li {
	line-height: 1;
}

.foot__menu-w li:not(:last-child) {
	margin-bottom: 18px;
}

.foot__menu-w a {
	color: white;
	font-size: 14px;
}

.foot__menu-h {
	font-size: 17.7px;
	margin-bottom: 15px;
}

.foot__col-3 {
	-webkit-flex: none;
	    -ms-flex: none;
	        flex: none;
}

.foot__col-4 {
	margin-left: auto;
	-webkit-flex: none;
	    -ms-flex: none;
	        flex: none;
	margin-right: 96px;
}

.quest {
	background-image: url("../img/line2.png");
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 87px;
	background-color: #f4f4f1;
}

.quest__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.quest__col-1 {
	position: relative;
}

.quest__col-1 p {
	font-size: 18px;
	line-height: 1.2;
	color: black;
	margin-bottom: 52px;
}

.quest__col-1 a {
	color: #f1592a;
	line-height: 1.2;
}

.quest__heading {
	margin-bottom: 5px;
	letter-spacing: -0.2px;
}

.quest__img {
	-webkit-transform: translateY(-8px);
	    -ms-transform: translateY(-8px);
	        transform: translateY(-8px);
	text-align: right;
	margin-right: -24px;
}

.quest__form {
	width: 378px;
	padding-top: 32px;
	padding-bottom: 99px;
	margin-left: 152px;
}

.quest__input-text {
	border: none;
	border-radius: 5px;
	width: 100%;
	height: 33px;
	background-color: white;
	border-radius: 5%;
	font-size: 16px;
	color: black;
	margin-bottom: 16px;
	padding-left: 19px;
	padding-right: 19px;
}

.quest__label {
	margin-top: 4px;
	margin-bottom: 12px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
}

.quest__label input[type="checkbox"] {
	display: none;
}

.quest__label input[type="checkbox"] + span {
	width: 18px;
	height: 18px;
	border-radius: 5px;
	-webkit-flex: none;
	    -ms-flex: none;
	        flex: none;
	background-color: #FFF;
}

.quest__label input[type="checkbox"]:checked + span {
	background-color: #ff6633;
}

.quest__label-span-txt {
	color: black;
	font-size: 13px;
	line-height: 0.9;
	margin-left: 10px;
}

.quest__btn {
	margin-top: 10px;
	height: 50px;
	width: 100%;
}

.news {
	padding-top: 56px;
	padding-bottom: 48px;
}

.news__row {
	margin-top: 14px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
}

.news__col {
	padding: 0 20px;
	width: 50%;
	margin-bottom: 27px;
}

.news__item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.all-news {
	height: 27px;
	padding: 0 10px;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	color: #333;
	border: 1px solid #333;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 400;
	margin-top: -5px;
}

.all-news:hover {
	text-decoration: none;
}

.news__img {
	width: 303px;
	height: 215px;
	background-color: #333333;
	border-radius: 5%;
	-webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
}

.news__cont {
	margin-left: 37px;
	margin-top: -9px;
}

.news__date {
	color: #333333;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 23px;
}

.news__title {
	display: block;
	color: black;
	font-size: 18.6px;
	font-weight: 700;
	line-height: 1.2;
}

.news__title:hover {
	text-decoration: none;
}

.news__p {
	color: #333333;
	font-size: 14.6px;
	line-height: 1.4;
	margin-top: 10px;
	padding-right: 10px;
}

.news__arr-rad {
	width: 33px;
	height: 11px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	-webkit-filter: gray;
	        filter: gray;
	margin-top: 28px;
}

.news__arr-rad:hover {
	-webkit-filter: grayscale(0);
	        filter: grayscale(0);
	-webkit-filter: none;
	        filter: none;
}

.accordion-content {
	display: none;
	width: 100% !important;
}

.accordion-content.open-content {
	display: block;
}

.faq {
	padding: 67px 0 99px 0;
}

.faq-heading {
	text-transform: none;
}

.accordion-container {
	margin-top: 55px;
}

.accordion-item {
	border-bottom: 1px solid #999999;
	padding: 12.7px 0;
	margin-bottom: 0px;
	width: 100%;
}

.accordion-item:first-child {
	border-top: 1px solid #999999;
}

.accordion-header {
	color: #333333;
	font-size: 17.6px;
	font-weight: 600;
	padding-left: 45px;
	position: relative;
	cursor: pointer;
}

.accordion-header:before {
	display: block;
	content: "";
	position: absolute;
	left: 0px;
	top: 4px;
	width: 15px;
	height: 13px;
	background-image: url("../img/arr-b-acc.png");
	background-repeat: no-repeat;
	background-position: left top;
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	-webkit-filter: gray;
	        filter: gray;
}

.accordion-header.active-header:before {
	-webkit-filter: unset;
	        filter: unset;
}

.accordion-content {
	margin-bottom: 0px;
	margin-top: 10px;
	line-height: 1.4;
	padding-left: 45px;
}

.head__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 12px;
}

.head__logo {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.head__form {
	width: 746px;
	height: 40px;
	background-color: white;
	border-radius: 5%;
	margin-left: 40px;
	margin-right: 23px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	border-radius: 7px;
}

.head__form button {
	-webkit-flex: none;
	    -ms-flex: none;
	        flex: none;
	background: url("../img/top-search.png") no-repeat center;
	width: 55px;
	height: 100%;
	background-color: #666;
	border: none;
}

.head__input-text {
	width: calc(100% - 0px);
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	background: none;
	border: none;
	height: 40px;
	color: #999999;
	font-size: 14px;
	padding: 0 17px;
}

.head__phone {
	color: black;
	font-size: 16.8px;
	text-transform: uppercase;
	-webkit-order: 102;
	    -ms-flex-order: 102;
	        order: 102;
}

.head__phone:hover {
	text-decoration: none;
}

.head__priv-cab {
	background-image: url("../img/priv-cab.png");
	background-repeat: no-repeat;
	background-position: center top;
	width: 57px;
	padding-top: 34px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-transform: translate(0%, 13px);
	    -ms-transform: translate(0%, 13px);
	        transform: translate(0%, 13px);
	-webkit-order: 102;
	    -ms-flex-order: 102;
	        order: 102;
	margin-right: 5px;
}

.head__priv-cab:hover {
	text-decoration: none;
}

.burger {
	-webkit-order: 101;
	    -ms-flex-order: 101;
	        order: 101;
	margin-right: 15px;
}

.head__priv-cab-txt {
	color: white;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
}

.head__menu-ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 12px;
}

.head__menu-ul li:not(:last-child) {
	margin-right: 64px;
}

.head__menu-ul li.active a {
	border-bottom: 4px solid #666666;
}

.head__menu-ul a {
	color: black;
	font-size: 17.6px;
	padding-bottom: 11px;
	display: inline-block;
}

.head__menu-ul a:hover {
	text-decoration: none;
	border-bottom: 4px solid #666666;
}

.head__wrap-contain {
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.head__filter-w {
	margin-top: 214px;
}

@media (max-height: 660px) {
	.head__filter-w {
		margin-top: 150px;
	}
}

.head__filter {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.head__filter-row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	width: 100%;
	margin: 5px -10px;
}

.head__filter-col {
	width: 25%;
	padding: 0 10px;
}

.head__filter-col:not(:last-child) {
	border-right: 1px solid #8e8e8e;
}

.head__filter-col .head__filter-row {
	margin-left: 0;
	margin-right: 0;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.head__filter-col .head__filter-col {
	padding: 0;
	border: none;
	width: calc(50% - 5px);
}

.select2-container {
	border: none;
	width: 100% !important;
}

.select2-container .select2-selection--single {
	height: 40px;
	border: 1px solid #ccc;
	border: none;
	border-radius: 5px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	line-height: 1;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	font-size: 14px;
	padding-left: 0;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin-right: 0;
	padding-right: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 18px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
	-webkit-flex: none;
	    -ms-flex: none;
	        flex: none;
	width: 28px;
	height: 100%;
	background: url("../img/arr.png") no-repeat left 0 center;
	position: static;
	padding-right: 15px;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
	display: none;
}

.select2-container .select2-dropdown {
	border: none;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}

.select2-container .select2-search--dropdown {
	border: none;
}

.select2-container .select2-search--dropdown .select2-search__field {
	border: none;
}

.select2-container .select2-results {
	border: none;
	border-radius: 0 0 5px 5px;
}

.select2-container .select2-results__option {
	border: none;
	font-size: 15px;
	padding: 10px 17px;
}

.head__filter-input-text {
	height: 40px;
	background-color: white;
	border-radius: 5%;
	color: black;
	font-size: 15px;
	padding-left: 22px;
	padding-right: 15px;
	background-image: url("../img/arr-dw-form.png");
	background-repeat: no-repeat;
	background-position: right 8px center;
	width: 100%;
}

.head__filter-input-text-2 {
	height: 40px;
	background-color: white;
	border-radius: 5%;
	color: black;
	font-size: 15px;
	padding-left: 22px;
	padding-right: 15px;
	background-image: url("../img/arr-dw-form.png");
	background-repeat: no-repeat;
	background-position: right 8px center;
	width: 149px;
}

.head__btn-clear {
	color: #666666;
	font-size: 18.5px;
	font-weight: 600;
	line-height: 1.9;
	display: block;
	margin-bottom: 8px;
	padding-left: 37px;
	background: none;
}

.head__btn-show {
	color: #f4f4f1;
	font-size: 19.4px;
	font-weight: 600;
	height: 40px;
	width: 100%;
	background-color: #f1592a;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 0 10px;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-radius: 5px;
	margin-left: 20px;
}

.without-casco {
	width: 253px;
	background-color: #333333;
	display: block;
	border-radius: 5%;
	padding: 21px 17px 15px 22px;
	margin-top: 129px;
}

.without-casco:hover {
	text-decoration: none;
}

@media (max-height: 810px) {
	.without-casco {
		margin-top: 20px;
	}
}

.slider-nav-contain {
	position: relative;
	z-index: 20;
}

.without-casco-title {
	color: #f1592a;
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 9px;
	display: block;
}

.without-casco__expl {
	display: block;
	color: #f4f4f1;
	font-size: 14.3px;
	line-height: 1.2;
}

.without-casco__arr-w {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-top: 11px;
	padding-right: 10px;
}

.without-casco__arr {
	background-image: url("../img/arr-r-head.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 33px;
	height: 11px;
	display: block;
}

.head__message {
	background-image: url("../img/message-head.png");
	background-repeat: no-repeat;
	background-position: left top;
	width: 63px;
	height: 63px;
	position: absolute;
	right: 120px;
	bottom: 67px;
}

.head__wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 15;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 40px;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.show-480,
.show-767 {
	display: none;
}

@media (max-width: 1367px) {
	.head__form {
		width: 100%;
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
	}
	.head__phone {
		-webkit-flex: none;
		    -ms-flex: none;
		        flex: none;
	}
	.head__priv-cab {
		margin-right: 0;
		margin-left: 15px;
		-webkit-flex: none;
		    -ms-flex: none;
		        flex: none;
	}
	.head__menu-ul li:not(:last-child) {
		margin-right: 54px;
	}
	.head__btn-show {
		font-size: 16px;
		white-space: nowrap;
	}
	.slider, .slider__slide {
		height: calc(100vh - 70px);
		min-height: 400px;
	}
	.head__filter-w {
		margin-top: 74px;
	}
	.slider__nav-slide {
		font-size: 15px;
	}
	.foot__map-w {
		width: 321px;
	}
	.foot__map-w img {
		max-width: 100%;
		height: auto;
	}
	.foot__col-4 {
		margin-right: 0;
	}
}

@media (max-width: 1199px) {
	.head__priv-cab-txt {
		display: none;
	}
	.head__priv-cab {
		padding-top: 0;
		height: 34px;
		-webkit-transform: translate(0%, 0%);
		    -ms-transform: translate(0%, 0%);
		        transform: translate(0%, 0%);
	}
	.head__menu-ul {
		margin-top: 15px;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.head__menu-ul li:not(:last-child) {
		margin-right: 0;
	}
	.head__menu-ul li a {
		font-size: 17px;
	}
	.head__filter {
		display: none;
	}
	.calc {
		padding: 55px 0;
	}
	.heading-2 {
		font-size: 25px;
	}
	.calc__item-row .calc__item-wrap span {
		font-size: 17px;
	}
	.calc__total-w span {
		font-size: 22px;
	}
	.div-control {
		font-size: 17px;
	}
	.calc__desc {
		font-size: 14px;
		margin-bottom: 0;
	}
	.news__img {
		width: 200px;
		height: 150px;
	}
	.news__cont {
		margin-left: 17px;
		margin-top: 0;
	}
	.news__date {
		margin-bottom: 9px;
	}
	.news__p {
		font-size: 13px;
		margin-bottom: 7px;
	}
	.news__arr-rad {
		margin-top: 0;
	}
	.ben__row {
		-webkit-column-gap: 20px;
		   -moz-column-gap: 20px;
		        column-gap: 20px;
	}
	.ben__p {
		font-size: 15px;
		line-height: 1.4;
		margin-bottom: 0;
	}
	.ben__title {
		margin: 16px 0;
	}
	.leasing__p {
		line-height: 1.4;
	}
	.leasing__p {
		margin-bottom: 0;
	}
	.leasing__h {
		font-size: 26px;
		margin-bottom: 32px;
	}
	.accordion-container {
		margin-top: 30px;
	}
	.foot__map-w {
		display: none;
	}
	.foot__row {
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.foot__row > div {
		margin-left: unset;
		margin-right: unset;
	}
	.news__title,
	.leasing__p,
	.ben__title,
	.accordion-header {
		font-size: 16px;
	}
	.quest {
		padding-top: 55px;
	}
	.foot,
	.faq,
	.leasing,
	.calc,
	.ben {
		padding: 55px 0;
	}
}

@media (max-width: 991px) {
	.head__logo {
		width: 183px;
		-webkit-flex: none;
		    -ms-flex: none;
		        flex: none;
	}
	.head__logo img {
		max-width: 100%;
		height: auto;
	}
	.head__menu-ul li a {
		font-size: 15px;
	}
	.calc__col--right {
		padding-left: 38px;
		width: 50%;
	}
	.calc__row {
		width: 100%;
	}
	.news__img {
		width: 146px;
		height: 103px;
	}
	.news__title {
		font-size: 13px;
	}
	.news__date {
		font-size: 13px;
	}
	.news__row {
		margin-top: 24px;
	}
	.heading-2 {
		font-size: 22px;
	}
	.quest__form {
		margin-left: 0;
		width: 50%;
		padding-left: 30px;
		-webkit-flex: none;
		    -ms-flex: none;
		        flex: none;
	}
	.quest__row {
		width: 100%;
		-webkit-align-items: flex-end;
		    -ms-flex-align: end;
		            -ms-grid-row-align: flex-end;
		        align-items: flex-end;
	}
	.quest__col-1 {
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
	}
	.quest__img img {
		max-width: 100%;
	}
	.quest__heading {
		line-height: 1.4;
		margin-bottom: 12px;
	}
	.ben__item {
		width: 50%;
	}
	.ben__item:nth-child(3), .ben__item:nth-child(4) {
		display: none;
	}
	.leasing__col {
		width: 100%;
	}
	.leasing__col:not(:last-child) {
		margin-bottom: 40px;
	}
	.leasing__row {
		-webkit-column-gap: 0;
		   -moz-column-gap: 0;
		        column-gap: 0;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.leasing__h {
		margin-bottom: 23px;
	}
	.accordion-header {
		line-height: 1.4;
	}
	.foot__col-3,
	.foot__col-4 {
		display: none;
	}
	.foot__conts {
		margin-top: 30px;
	}
}

@media (max-width: 767px) {
	.head__row {
		margin-top: 0;
	}
	.head__logo {
		margin-right: auto;
	}
	.hide-767 {
		display: none;
	}
	.show-767 {
		display: block;
	}
	.head__top {
		background-color: #f1592a;
		padding: 40px 0 14px 0;
		position: relative;
	}
	.burger {
		width: 25px;
		height: 25px;
		background: url("../img/burger.png") no-repeat center;
		color: #FFF;
		font-size: 8px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: flex-end;
		    -ms-flex-align: end;
		        align-items: flex-end;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.burger span {
		-webkit-transform: translateY(11px);
		    -ms-transform: translateY(11px);
		        transform: translateY(11px);
	}
	.burger.open {
		color: #000;
		position: relative;
		background: url("../img/burger-open.png") no-repeat center;
	}
	.head__phone {
		font-size: 0;
		background: url("../img/phone-mob.png") no-repeat center;
		width: 23px;
		height: 23px;
	}
	.head__priv-cab {
		width: 23px;
		height: 23px;
		background: url("../img/user-mob.png") no-repeat center;
		margin-left: 13px;
	}
	.col-mnu__wrap {
		position: absolute;
		right: 0;
		top: 0;
		-webkit-transform: translateX(0%);
		    -ms-transform: translateX(0%);
		        transform: translateX(0%);
		-webkit-transform: translateX(100%);
		    -ms-transform: translateX(100%);
		        transform: translateX(100%);
		background-color: #e8e8e2;
		padding: 17px 0px 16px 25px;
		max-width: 314px;
		width: 100%;
		transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		transition: transform 0.5s, -webkit-transform 0.5s;
		z-index: 30;
	}
	.col-mnu__wrap.open {
		-webkit-transform: translateX(0%);
		    -ms-transform: translateX(0%);
		        transform: translateX(0%);
	}
	.col-mnu__wrap .contain {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
	.col-mnu {
		width: 100%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-align-items: flex-end;
		    -ms-flex-align: end;
		        align-items: flex-end;
	}
	.head__menu-ul {
		display: block;
		width: 100%;
	}
	.head__menu-ul li a {
		font-size: 17px;
		font-weight: 500;
		display: block;
		border-bottom: 1px solid rgba(0, 0, 0, 0.4);
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.head__menu-ul li.active a {
		border-bottom: 1px solid #ff6633;
		color: #ff6633;
	}
	.mnu__icons-wrap {
		width: 100%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: flex-end;
		    -ms-flex-align: end;
		        align-items: flex-end;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.mnu__icons {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin-top: 13px;
		width: 100%;
		padding-right: 15px;
		margin-left: -7px;
		margin-right: -7px;
	}
	.mnu__icon {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		text-align: center;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 0 7px;
		width: 25%;
	}
	.mnu__icon-img {
		width: 39px;
		height: 39px;
		margin-bottom: 6px;
	}
	.mnu__icon-txt {
		color: black;
		font-size: 9px;
	}
	.mnu-close {
		padding-right: 18px;
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
		color: black;
		font-size: 10px;
		margin-top: 22px;
		margin-right: 24px;
		background: url("../img/mnu-close.png") no-repeat right center;
	}
	.head__form {
		-webkit-flex: unset;
		    -ms-flex: unset;
		        flex: unset;
		margin-left: 0;
		margin-right: 0;
		margin-right: 27px;
		max-width: calc(100% - 27px);
	}
	.head__form.show-767 {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.head__input-text {
		width: 100%;
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		-webkit-flex-shrink: 1;
		    -ms-flex-negative: 1;
		        flex-shrink: 1;
	}
	.head__form button {
		background: url("../img/top-search-mob.png") no-repeat center;
	}
	.slider-nav-contain {
		max-width: 100%;
		padding: 0 !important;
	}
	.slider-nav-w {
		padding: 0;
	}
	.slider, .slider__slide {
		min-height: 364px;
	}
	.calc__row {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.calc__row > div {
		width: 100%;
		padding-left: 0;
	}
	.calc__row > div:not(:last-child) {
		margin-bottom: 25px;
	}
	.news__row-contain {
		max-width: 100%;
		padding: 0;
	}
	.all-news {
		display: none;
	}
	.news__item {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		width: 226px !important;
	}
	.news__img {
		width: 100%;
		height: 150px;
	}
	.news__cont {
		margin-left: 0;
		width: 100%;
		margin-top: 15px;
	}
	.news__col {
		padding: 0 10px;
	}
	.quest {
		padding-bottom: 56px;
		background-image: none;
	}
	.quest__row {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.quest__col-1 {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-align-items: flex-end;
		    -ms-flex-align: end;
		        align-items: flex-end;
		width: 100%;
		position: relative;
	}
	.quest__col-1:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 300%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
		height: 8px;
		background-image: url(../img/line2.png);
		background-repeat: repeat-x;
		background-position: left bottom;
	}
	.quest__heading {
		-webkit-order: -1;
		    -ms-flex-order: -1;
		        order: -1;
		width: 100%;
		-webkit-flex: none;
		    -ms-flex: none;
		        flex: none;
		margin-bottom: 32px;
	}
	.quest__heading + p {
		display: block;
		-webkit-order: 1;
		    -ms-flex-order: 1;
		        order: 1;
		width: 50%;
		margin-bottom: 32px;
		padding-left: 19px;
	}
	.quest__img {
		-webkit-order: 0;
		    -ms-flex-order: 0;
		        order: 0;
		width: 50%;
		margin-right: 0;
	}
	.quest__form {
		padding: 0;
		margin-top: 35px;
		width: 100%;
	}
	.slider, .slider__slide {
		max-height: 500px;
	}
}

@media (max-width: 640px) {
	.head__message {
		background: url("../img/message-head-mob.png") no-repeat 0px center;
		top: 160px;
		bottom: none;
		right: 19px;
	}
}

@media (max-width: 575px) {
	.news__item {
		width: 216px !important;
	}
	.foot, .faq, .leasing, .calc, .ben {
		padding: 40px 0;
	}
	.quest {
		padding-top: 40px;
	}
}

@media (max-width: 480px) {
	.slider__nav-slide {
		width: 120px !important;
	}
	.head__filter-w {
		margin-top: 0;
	}
	.without-casco {
		margin-top: 37px;
		padding: 13px 6px 9px 14px;
		width: 156px;
	}
	.without-casco-title {
		font-size: 10px;
		margin-bottom: 6px;
	}
	.without-casco__expl {
		font-size: 9px;
	}
	.without-casco__arr {
		width: 20px;
		height: 7px;
		background-size: 20px;
	}
	.without-casco__arr-w {
		padding-right: 2px;
		margin-top: 6px;
	}
	.head__message {
		right: -3px;
		top: 113px;
	}
	.slider, .slider__slide {
		max-height: 364px;
	}
	.slider__nav-slide {
		width: 112px !important;
		font-size: 11px;
	}
	.foot, .faq, .leasing, .calc, .ben {
		padding: 34px 0;
	}
	.heading-2 {
		font-size: 16px;
	}
	.calc__diap {
		font-size: 10px;
	}
	.form-control-static {
		margin-bottom: 4px;
		font-size: 9.4px;
	}
	.calc__item-row .calc__item-wrap span {
		font-size: 12px;
	}
	.calc__item-row {
		padding-right: 0;
	}
	.calc__item-row .calc__item-wrap {
		top: -21px;
	}
	input[type="text"].form-control.calc__total {
		height: 18px;
	}
	.div-control {
		-webkit-justify-content: flex-end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
	.calc__col--right .div-control {
		-webkit-justify-content: flex-start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
	.calc__item-row .calc__item-wrap input[type="text"].form-control {
		height: 18px;
	}
	.div-control {
		height: 18px;
	}
	.calc__total-w .form-control {
		width: 100%;
	}
	.calc__btn {
		width: 100%;
	}
	.calc__items {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
	}
	.calc__items .calc__item {
		width: 50%;
	}
	.calc__items .calc__item + .calc__item {
		padding-left: 15px;
	}
	.calc__total-w span {
		font-size: 16px;
	}
	.calc__row {
		margin-top: 46px;
	}
	.ui-slider-horizontal {
		height: 13px;
	}
	.calc__diap {
		margin-top: 4px;
	}
	.ui-state-default, .ui-widget-content .ui-state-default {
		-webkit-transform: translateY(12px);
		    -ms-transform: translateY(12px);
		        transform: translateY(12px);
	}
	.calc__item {
		margin-bottom: 37px;
	}
	.calc__item:last-child {
		margin-bottom: 0;
	}
	.calc__row > div:not(:last-child) {
		margin-bottom: 30px;
	}
	.calc__col--right .calc__item-wrap {
		margin-top: 9px;
	}
	.calc__items .calc__item {
		margin-bottom: 0;
	}
	.calc__total-w {
		margin-top: -3px;
	}
	.calc__btn {
		margin-top: 30px;
		height: 43px;
	}
	.calc__desc {
		font-size: 9px;
		margin-top: 23px;
		line-height: 1.35;
	}
	.show-480 {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.hide-480 {
		display: none;
	}
	.calc {
		padding-bottom: 23px;
	}
	.news {
		padding-top: 27px;
		padding-bottom: 31px;
	}
	.news__row {
		margin-top: 27px;
	}
	.news__date {
		font-size: 9px;
		margin-bottom: 2px;
	}
	.news__title {
		font-size: 9px;
	}
	.news__p {
		font-size: 9px;
		margin-top: 3px;
		margin-bottom: 9px;
	}
	.news__cont {
		margin-top: 11px;
	}
	.news__arr-rad {
		width: 16px;
		height: 6px;
	}
	.news__arr-rad img {
		max-width: 100%;
	}
	.news__col {
		margin-bottom: 0;
	}
	.quest {
		padding-top: 24px;
		padding-bottom: 32px;
	}
	.quest__col-1 p {
		font-size: 9px;
		padding-left: 6px;
	}
	.quest__heading {
		margin-bottom: 18px;
	}
	.quest__form {
		margin-top: 38px;
	}
	.quest__input-text {
		height: 29px;
		margin-bottom: 10px;
		font-size: 13px;
		padding: 0 16px;
	}
	.quest__label-span-txt {
		font-size: 10.4px;
		line-height: 1.15;
	}
	.quest__label {
		margin-top: 27px;
	}
	.quest__label input[type="checkbox"] + span {
		width: 14px;
		height: 14px;
		border-radius: 3px;
	}
	.quest__btn {
		margin-top: 10px;
		height: 42px;
		font-size: 12px;
	}
	.ben {
		padding-top: 25px;
		padding-bottom: 41px;
	}
	.ben__img {
		width: 38px;
		-webkit-justify-content: flex-start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
	.ben__img img {
		max-width: 100%;
	}
	.ben__row {
		margin-top: 13px;
	}
	.ben__title {
		font-size: 9px;
		margin-top: 17px;
		margin-bottom: 19px;
	}
	.ben__p {
		font-size: 9px;
		line-height: 1.65;
	}
	.leasing {
		padding-top: 24px;
		padding-bottom: 26px;
	}
	.leasing__h {
		font-size: 15px;
		min-height: 36px;
		padding-left: 10px;
		margin-bottom: 9px;
		background-image: url("../img/bg-h-mob.png");
	}
	.leasing__h br {
		display: none;
	}
	.leasing__p {
		font-size: 9px;
		line-height: 1.5;
	}
	.leasing__col:not(:last-child) {
		margin-bottom: 22px;
	}
	.faq {
		padding-top: 24px;
		padding-bottom: 24px;
	}
	.faq-heading {
		text-transform: uppercase;
	}
	.accordion-header {
		font-size: 9px;
		padding-left: 15px;
	}
	.accordion-item {
		padding: 4px 0;
	}
	.accordion-container {
		margin-top: 13px;
	}
	.accordion-header:before {
		width: 5px;
		height: 4px;
		background-size: 5px;
	}
	.accordion-content {
		font-size: 9px;
		padding-left: 16px;
	}
	.foot {
		padding-top: 22px;
		padding-bottom: 0;
	}
	.foot__cond,
	.foot__ad,
	.foot__cont {
		font-size: 10px;
	}
	.foot__conts {
		margin-top: 19px;
		margin-bottom: 17px;
	}
	.foot__ad {
		margin-bottom: 25px;
	}
	.head__wrap {
		z-index: 30;
	}
	.foot__icons {
		background-color: #FFF;
		padding: 9px 0 13px 0;
		margin-top: 18px;
	}
	.foot__icons .mnu__icons {
		margin-left: 0;
		margin-right: 0;
		padding-right: 0;
	}
}

@media (max-width: 375px) {
	.news__item {
		width: 186px !important;
	}
	.news__img {
		height: 120px;
	}
}

@media (max-width: 360px) {
	.contain {
		padding-left: 23px;
		padding-right: 23px;
	}
	.news__item {
		width: 146px !important;
	}
	.news__img {
		height: 103px;
	}
}

@media (max-width: 320px) {
	.news__item {
		width: 126px !important;
	}
}

.completed-slde-dots {
	position: absolute;
	left: 28px;
	bottom: 20px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.completed-slde-dots li {
	font-size: 0;
	padding: 0;
	margin: 0;
	display: block;
	border-radius: 50%;
	overflow: hidden;
	width: 10px;
	height: 10px;
	border: 2px solid white;
	background: none;
	margin-left: 6px;
	margin-right: 6px;
	cursor: pointer;
}

.completed-slde-dots li:focus {
	outline: none;
}

.completed-slde-dots li:active {
	outline: none;
	background: none;
}

.completed-slde-dots .slick-active {
	border: 2px solid white;
	background-color: #ffffff;
}

.nobrd {
	border: none;
}

body.active {
	background: url("../img/1920.jpg") no-repeat top -10px center;
}

body.active .wrapper {
	opacity: 0.4;
}

body.active .footer {
	opacity: 0.4;
}

body.active .get {
	opacity: 0.4;
}

.eye-3 {
	position: fixed;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	background-color: #ccc;
	z-index: 100;
	border-radius: 50%;
}

@media (max-width: 640px) {
	.help-call .measurer-form .btn {
		margin-top: 0;
	}
}

body.active {
	background: url("../img/1.jpg") no-repeat top -34px center !important;
}

body.active .wrapper {
	opacity: 0.4;
}

body.active .footer {
	opacity: 0.4;
}

body.active .get {
	opacity: 0.4;
}

@media only screen and (max-width: 320px) {
	body, body > * {
		width: auto;
		min-width: 320px;
	}
}
